{
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "es6": true,
      "classes": true
    }
  },
  "rules": {
    "linebreak-style": 0
  }
}
